section, header#custom-header, article, nav, address {
	display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefcf6;
  font-family: Arial, Helvetica, sans-serif; 
  color: #646054;
  font-size: 100%;
}

/* for email addresses. reverse and unicode */
.code {
    direction: rtl;
    unicode-bidi: bidi-override;
}


#main {
  background-color: #c8c0a9;
  background-image: url('/images/mainBackground.jpg');
  background-repeat: no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 3;
}

section {
  margin: 2% 15%;
}
section p {
  line-height: 150%;
}

#conditions {
  overflow: auto;
}
#conditions ul{
   list-style-type: none;
}
#conditionsBody {
  margin: 0 auto;
}
#conditionsBody div h4:first-child {
  margin: 0 0 0;    
}
#conditionsBody div:last-child {
  margin: 0; 
}
#conditionsBody div h4 {
  margin: 5% 0 0;
}

#contact {
  clear: both;
}
address {
  font-style: normal;
}
.contactTitle {
  font-weight: bold;
}
#contact ul{
  line-height: 150%;
}
#contact h3 {
  font-size: 100%;
  margin: 2% 0;
}


/* mobile styles */

/* Smartphone Portrait */
@media only screen and (max-width: 320px) {
  header#custom-header#custom-header#custom-header {
    padding-bottom: 3%;
  }
  header#custom-header nav ul {
    margin-top: 3%;
    font-size: 70%;
  }

  header#custom-header nav li {
    width: 25%;
  }

  #about li#about-nav, 
  #session li#session-nav,
  #conditions li#conditions-nav,  
  #bio li#bio-nav, 
  #blog li#blog-nav, 
  #contact li#contact-nav{
    background-color: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }  

  #main {
    height: 360px;
  }
  section h2 {
    margin: 8% 0;
    font-size: 150%;
  }
  footer {
    font-size: 60%;
  }
  section h3 {
    margin: 4% 0;
    font-size: 120%;
  }
  section p {
    margin: 5% 0 0;
  }
  #conditionsBody div {
    margin-bottom: 5%;    
  }
}

/* Smartphone Landscape */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  header#custom-header {
    padding-bottom: 1%;
  }
  header#custom-header nav ul {
    margin-top: 3%;
    font-size: 80%;
  }
  header#custom-header nav li {
    width: 20%;
  }

  section h2 {
    margin: 4% 0;
    font-size: 160%;
  }
  #about li#about-nav, 
  #session li#session-nav,
  #conditions li#conditions-nav,  
  #bio li#bio-nav, 
  #blog li#blog-nav, 
  #contact li#contact-nav{
    background-color: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  #main {
    height: 520px;
  }
  section h3 {
    margin: 4% 0;
    font-size: 120%;
  }
  section p {
    margin: 5% 0 0;
  }
  #conditionsBody div {
    margin-bottom: 5%;    
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  header#custom-header {
    padding-bottom: 1%;
  }
  header#custom-header nav ul {
    margin-top: 2%;
    font-size: 100%;
    display: inline;
  }
  header#custom-header nav li {
    width: 17%;
  }

  section h2 {
    margin: 2% 0 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  section p {
    margin: 0 0 2%;
  }
  #about li#about-nav, 
  #session li#session-nav,
  #conditions li#conditions-nav,  
  #bio li#bio-nav, 
  #blog li#blog-nav, 
  #contact li#contact-nav{
    background-color: #ffffff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  #main {
    height: 800px;
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%; 
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  section h2 {
    margin: 2% 0 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  section p {
    margin: 0 0 2%;
  }
  #main {
    height: 1024px;
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%; 
  }
}

@media only screen and (min-width: 1024px) {
  section h2 {
    margin: 2% 0 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  section p {
    margin: 0 0 2%;
  }
  #main {
    height: 1024px;
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%;
  } 
}



