section, header#custom-header, article, nav, address {
	display: block;
}

* {
  padding: 0;
  margin: 0;
}

html, body, section {
  height: 100%;
}
body > section {
  height: auto;
  min-height: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif; 
  color: #646054;
  font-size: 100%;
}

/* for email addresses. reverse and unicode */
.code {
    direction: rtl;
    unicode-bidi: bidi-override;
}

#main {
  background-image: url('/images/manual-therapy-homepage.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  width: 80%;
}

section {
  margin: 4% 10%;
  height: 100%;
}
section p {
  line-height: 160%;
  font-size: 90%;
  margin-bottom: 2%;
}

section a {
  color: #6f7c46;
  text-decoration: none;
}

section ul{
  list-style-position:inside;
  text-indent: -1em;
  font-size: 90%;
}
section li {
  padding-left: 1em;
}

.initialImage {
  float:left; 
  margin-right: 2%; 
  width: 50%; 
  height: auto;
}

#conditions ul{
   list-style-type: none;
}
#conditionsBody {
  margin: 0 auto;
  overflow: auto;
}
#conditionsBody div h4:first-child {
  margin: 0 0 0;    
}
#conditionsBody div:last-child {
  margin: 0; 
}
#conditionsBody div h4 {
  margin: 5% 0 0;
}

#contact {
  clear: both;
}
address {
  font-style: normal;
}
.contactTitle {
  font-weight: bold;
}




/* mobile styles */

/* Smartphone Portrait */
@media only screen and (max-width: 320px) {
  section h2 {
    margin: 10% 0 5%;
    font-size: 130%;
  }
  footer {
    font-size: 60%;
  }
  section h3 {
    margin: 4% 0 0;
    font-size: 120%;
  }
  section p {
    margin-bottom: 5%;
  }
  .initialImage {
    margin: 0 0 5% 0; 
    width: 100%; 
  }
  #conditionsBody div {
    margin-top: 5%;    
  }
}

/* Smartphone Landscape */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  section h2 {
    margin: 10% 0 5%;
    font-size: 140%;
  }
  section h3 {
    margin: 4% 0;
    font-size: 120%;
  }
  section p {
    margin-bottom: 5%;
  }
  .initialImage {
    margin: 0 0 5% 0; 
    width: 100%; 
  }
  #conditionsBody div {
    margin-top: 5%;    
  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  section h2 {
    margin: 2% 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  .initialImage {
    margin: 0 4% 2% 0; 
    width: 60%; 
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%; 
  }
}

@media only screen and (min-width: 801px) and (max-width: 1024px) {
  section h2 {
    margin: 2% 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  .initialImage {
    margin: 0 2% 2% 0; 
    width: 60%; 
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%; 
  }
}

@media only screen and (min-width: 1024px) {
  section h2 {
    margin: 2% 0;
  }
  section h3 {
    margin: 2% 0 0;
  }
  #conditionsBody div {
    width: 30%;
    float: left;
    margin-right: 5%;
  } 
}



