/* header#custom-header styling desined to be unique across wordpress as well */
header#custom-header {
  background-color: #646054;
  color: #fff;
  text-align: center;

}
#logo {
  margin: 0 auto;
}


header#custom-header nav {
  text-align: center;
  margin-top: 0.5%;
}
header#custom-header nav ul {
  list-style-type: none;
  font-size: 95%;
}
header#custom-header nav li {
  display: inline-block;
  width: 10%;
}
header#custom-header nav li a, header#custom-header nav li a:visited {
	height: 1.5em;
	line-height: 1.5em; 
  color: #fff;
  text-decoration: none;
}
#about #about-nav a, 
#session #session-nav a, 
#conditions #conditions-nav a, 
#bio #bio-nav a, 
#blog #blog-nav a, 
#contact #contact-nav a{

	color: #646054;
}

#about li#about-nav, 
#session li#session-nav,
#conditions li#conditions-nav,  
#bio li#bio-nav, 
#blog li#blog-nav, 
#contact li#contact-nav{
	background-color: #ffffff;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
}



footer#custom-footer {
  background-color: #646054;
  color: #fff;
  font-size: 70%;
  padding: 1%;
  /* position: absolute; ## this was behaving funny so took it out for now*/
  bottom: 0%;
  left: 0%;
  width: 98%;
  text-align: center;
}


