/* header#custom-header styling desined to be unique across wordpress as well */
header#custom-header {
  background-color: #fff;
  color: #fff;
  text-align: center;
  padding-top: 6%;
  margin: 0 10%;
}
#logoTop {
  margin: 0 auto;
  font-family: 'Cinzel', Georgia, serif;
  color: #646054;
  font-size: 300%;
  font-weight: bold;
  text-transform: uppercase;
}

#logoBottom, #address, #phone {
  color: #b2aea3;
  font-size: 85%;
  text-transform: uppercase;
  width: 33.3333%;
  float: left;
}
#address{
  text-align: left;
}
#logoBottom{
  text-align: center;
}
#phone{
  text-align: right;
}
#navDivider {
  border-bottom: 2px solid #b2aea3;
  margin-bottom: -1%;
  margin-top: 6%;
  clear: both;
  font-size: 85%;
}
header#custom-header nav {
  text-align: center;
  clear: both;
}
header#custom-header nav ul {
  list-style-type: none;
  font-size: 85%;
  background-color: #fff;
  margin: 0 20%;
}
header#custom-header nav li {
  display: inline-block;
  color: #b2aea3;
  width: 15%;
  padding-left: 1em;
  text-transform: uppercase;
}

header#custom-header nav li a, header#custom-header nav li a:visited {
	height: 1.5em;
	line-height: 1.5em; 
  color: #b2aea3;
  text-decoration: none;
}

header#custom-header nav li a:hover {
  color: #646054;
  text-decoration: underline;
}

#about #about-nav a, 
#session #session-nav a, 
#conditions #conditions-nav a, 
#bio #bio-nav a, 
#blog #blog-nav a, 
#contact #contact-nav a{
	color: #646054;
  text-decoration: underline;
}

/* makes tab style highlight
#about li#about-nav, 
#session li#session-nav,
#conditions li#conditions-nav,  
#bio li#bio-nav, 
#blog li#blog-nav, 
#contact li#contact-nav{
	background-color: #ffffff;
  border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  -webkit-border-radius: 3px 3px 0px 0px;
}

*/

footer#custom-footer {
  clear: both;
  position: relative;
  z-index: 10;
  background-color: #646054;
  color: #fff;
  font-size: 70%;
  padding: 1%;
  bottom: 0%;
  left: 0%;
  width: 98%;
  text-align: center;
  margin-top: 2%;
}


